.slider {
    background-color: #e1e1e1;
    width: min(100%, 500px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
}

.slider.multi {
    width: 100%;
    height: 400px;
}

.slider.multi > .slider-items .slider-item {
    /* flex: 0 0 100px; */
    overflow: hidden;
    display: flex;
}

.slider.multi .slider-items-container {
    gap: 10px;
}

.slider-item {
    border-radius: 5px;
    flex: 0 0 100%;
    scroll-snap-align: start;
}

.slider-items .slider-items-container {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* safari ios */
}

.slider > .slider-items .slider-items-container {
    scroll-snap-type: x mandatory;
}

.slider-indicators .slider-items-container {
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    /* scroll-snap-type: x mandatory; */
}

.slider-items {
    position: relative;
}

.slider-items-container::-webkit-scrollbar {
    display: none;
}

.slider-indicators .slider-item {
    flex: 0 0 min(40%, 200px);
    aspect-ratio: 16/9;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-snap-align: start;
}

.slider-arrow {
    position: absolute;
    top: 0;
    background-color: white;
    height: 100%;
    width: 30px;
    cursor: pointer;
    z-index: 10;
}

.slider-arrow.left {
    left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.slider-arrow.right {
    right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.slider-arrow .slider-arrow-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.slider-arrow .slider-arrow-icon .bar {
    width: 50%;
    height: 3px;
    background-color: black;
}

.slider-arrow .slider-arrow-icon .bar:first-child {
    transform: rotate(-45deg) translateX(2px) translateY(-3px);
}

.slider-arrow .slider-arrow-icon .bar:last-child {
    transform: rotate(45deg) translateX(2px) translateY(3px);
}

.slider-arrow.right .slider-arrow-icon {
    transform: rotate(180deg);
}

.slider-indicators .active {
    outline: 3px solid black;
    outline-offset: -3px;
}
