.slider {
    background-color: #e3e3e3;
    width: min(100%, 500px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
}

.slider-viewer,
.slider-item {
    border-radius: 5px;
}

.slider-viewer {
    /* height: 500px; */
    width: 100%;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slider-viewer .content {
    width: 100%;
    height: 100%;
    /* background-color: green; */
    position: relative;
    opacity: 1;
}

.slider-viewer .content.previous {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    /* background: red; */
    visibility: hidden; /* removes flicker */
}

.slider-viewer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slider-items {
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
}
/* 
.slider-items::-webkit-scrollbar {
    display: none;
} */

.slider-item {
    flex: 0 0 min(40%, 200px);
    aspect-ratio: 16/9;
    background-color: yellow;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-viewer.transition .content .previous {
    opacity: 0;
    transition: opacity 0.5s;
    visibility: visible;
}
