.slider {
    background-color: #e3e3e3;
    width: min(100%, 500px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
}

.slider-viewer,
.slider-item {
    border-radius: 5px;
}

.slider-viewer {
    /* height: 500px; */
    width: 100%;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slider-viewer .content {
    width: 100%;
    height: 100%;
    background-color: green;
    position: relative;
    opacity: 1;
}

/* .slider-viewer .content.previous {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    background: red;
    visibility: hidden;
} */

.slider-viewer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slider-viewer .slider-item {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-viewer .slider-items-container {
    scroll-snap-type: x mandatory;
}

.slider-items-container {
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    /* scroll-snap-type: x mandatory; */
}

.slider-items {
    position: relative;
}

.slider-items-container::-webkit-scrollbar {
    display: none;
}

.slider-item {
    flex: 0 0 min(40%, 200px);
    aspect-ratio: 16/9;
    background-color: yellow;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-snap-align: start;
}

.slider-viewer.transition .content .previous {
    opacity: 0;
    transition: opacity 0.5s;
    visibility: visible;
}

.slider-arrow {
    position: absolute;
    top: 0;
    background-color: white;
    height: 100%;
    width: 30px;
    cursor: pointer;
}

.slider-arrow.left {
    left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.slider-arrow.right {
    right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.slider-arrow .slider-arrow-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.slider-arrow .slider-arrow-icon .bar {
    width: 50%;
    height: 3px;
    background-color: black;
}

.slider-arrow .slider-arrow-icon .bar:first-child {
    transform: rotate(-45deg) translateX(2px) translateY(-3px);
}

.slider-arrow .slider-arrow-icon .bar:last-child {
    transform: rotate(45deg) translateX(2px) translateY(3px);
}

.slider-arrow.right .slider-arrow-icon {
    transform: rotate(180deg);
}
