.slider {
    background-color: #e3e3e3;
    width: min(100%, 500px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
}

.slider.multi {
    width: 100%;
    height: 400px;
}

.slider.multi > .slider-items .slider-item {
    overflow: hidden;
    display: flex;
}

.slider.multi .slider-items {
    gap: 7px;
}

.slider-item {
    border-radius: 2px;
    flex: 0 0 100%;
    scroll-snap-align: start;
}

.slider-items {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* safari ios */
}

.slider > .slider-items {
    scroll-snap-type: x mandatory;
}

.slider-indicators .slider-items {
    width: 100%;
    height: auto;
    display: flex;
    gap: 7px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.slider-indicators .slider-item {
    cursor: pointer;
}

.slider-items {
    position: relative;
}

.slider-items::-webkit-scrollbar {
    display: none;
}

.slider-indicators .slider-item {
    flex: 0 0 min(40%, 200px);
    aspect-ratio: 16/9;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-snap-align: start;
}

.slider-arrow {
    background-color: white;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.slider-arrow .slider-arrow-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.slider-arrow .slider-arrow-icon .bar {
    width: 50%;
    height: 3px;
    background-color: #707070;
}

.slider-arrow .slider-arrow-icon .bar:first-child {
    transform: rotate(-45deg) translateX(5px) translateY(-5px);
}

.slider-arrow .slider-arrow-icon .bar:last-child {
    transform: rotate(45deg) translateX(5px) translateY(5px);
}

.slider-arrow.right .slider-arrow-icon {
    transform: rotate(180deg);
}

.slider-indicators .active {
    outline: 3px solid black;
    outline-offset: -3px;
}

.slider-arrows {
    display: flex;
    gap: 5px;
}

.slider-arrow.disabled {
    cursor: default;
    opacity: 0.5;
}
