:global(.navbar-theme) {
    /* to-do: add mobile nav height, maybe rethink mobile values */
    --_nav-height: var(--nav-height, 50px);
    --_nav-background-color: var(--nav-background-color, #000);
    --_nav-logo-padding: var(--nav-logo-padding, 0px);
    --_nav-gap: var(--nav-gap, 25px);
    --_nav-dropdown-menu-background-color: var(
        --nav-dropdown-menu-background-color,
        var(--_nav-background-color)
    );
    --_nav-dropdown-menu-border-radius: var(
        --nav-dropdown-menu-border-radius,
        0 0 10px 10px
    );
    --_nav-dropdown-menu-link-height: var(
        --nav-dropdown-menu-link-height,
        min(var(--_nav-height), 50px)
    );
    --_nav-link-color: var(--nav-link-color, #d7d7d7);
    --_nav-link-hover-color: var(--nav-link-hover-color, #fff);
    --_nav-link-hover-background-color: var(
        --nav-link-hover-background-color,
        #353535
    );
    --_nav-link-active-color: var(--nav-link-active-color, #00aeff);
    --_nav-link-active-underline-height: var(
        --nav-link-active-underline-height,
        3px
    );
    --_nav-link-padding: var(--nav-link-padding, 0 20px);
    --_nav-dropdown-menu-icon-color: var(
        --nav-dropdown-menu-icon-color,
        var(--_nav-link-color)
    );
    --_nav-dropdown-menu-icon-hover-color: var(
        --nav-dropdown-menu-icon-hover-color,
        var(--_nav-link-hover-color)
    );
    --_nav-dropdown-menu-mobile-background-color: var(
        --nav-dropdown-menu-mobile-background-color,
        #1d1d1d
    );
    --_nav-buttons-gap: var(--nav-buttons-gap, 25px);
    --_nav-button-primary-padding: var(--nav-button-primary-padding, 10px 20px);
    --_nav-button-primary-background-color: var(
        --nav-button-primary-background-color,
        #0094d8
    );
    --_nav-button-primary-color: var(--nav-button-primary-color, #fff);
    --_nav-button-primary-border-radius: var(
        --nav-button-primary-border-radius,
        100px
    );
    --_nav-button-primary-hover-background-color: var(
        --nav-button-primary-hover-background-color,
        #00aeff
    );
    --_nav-button-primary-hover-color: var(
        --nav-button-primary-hover-color,
        #fff
    );
    --_nav-mobile-menu-icon-background-color: var(
        --nav-mobile-menu-icon-background-color,
        #d7d7d7
    );
    --_nav-mobile-menu-icon-hover-background-color: var(
        --nav-mobile-menu-icon-hover-background-color,
        #fff
    );
    --_nav-mobile-menu-border-radius: var(
        --nav-mobile-menu-border-radius,
        0 0 20px 20px
    );
}

.nav {
    position: relative;
    background-color: var(--_nav-background-color);
    height: var(--_nav-height);
}

.nav .container {
    display: flex;
    align-items: center;
    height: 100%;
    gap: var(--_nav-gap);
}

.nav .logo {
    height: 100%;
    width: auto;
    flex: 0 0 auto;
    padding: var(--_nav-logo-padding);
}

.nav .container > ul,
.nav .nav-links-wrapper {
    list-style-type: none;
    display: flex;
    flex: 1;
    height: 100%;
}

.nav ul li {
    position: relative;
}

.nav ul li ul {
    display: grid;
    grid-template-rows: 0fr;
    list-style-type: none;
    transition: 0.2s ease-in-out;
    position: absolute;
    width: max-content;
    min-width: 100%;
    background-color: var(--_nav-dropdown-menu-background-color);
    border-radius: var(--_nav-dropdown-menu-border-radius);
}

.nav ul li ul div {
    overflow: hidden;
    width: max-content;
    min-width: 100%;
}

.nav ul li ul li {
    height: var(--_nav-dropdown-menu-link-height);
}

.nav .dropdown {
    display: block; /* placeholder for css module. do not delete */
}

.nav .dropdown.active ul {
    grid-template-rows: 1fr;
}

.nav .dropdown.active .dropdown-icon {
    transform: rotate(180deg);
}

@media (hover: hover) and (pointer: fine) and (min-width: 1025px) {
    .nav ul li:hover ul {
        grid-template-rows: 1fr;
    }

    .nav ul li:hover .dropdown-icon {
        transform: rotate(180deg);
    }
}

.nav a:hover,
.nav .dropdown-name-container:hover,
.nav .dropdown.active .dropdown-name-container {
    color: var(--_nav-link-hover-color);
    background-color: var(--_nav-link-hover-background-color);
}

.nav ul li ul li:last-child a {
    border-radius: var(--_nav-dropdown-menu-border-radius);
}

.nav .dropdown-icon {
    display: flex;
    transition: transform 0.2s;
    align-items: center;
}

.nav .dropdown-icon div {
    width: 10px;
    height: 2px;
    background-color: var(--_nav-dropdown-menu-icon-color);
}

.nav li:hover .dropdown-icon div {
    background-color: var(--_nav-dropdown-menu-icon-hover-color);
}

.nav .dropdown-icon .left {
    transform: translateX(2px) rotate(45deg);
}

.nav .dropdown-icon .right {
    transform: translateX(-2px) rotate(-45deg);
}

.nav a,
.nav .dropdown-name-container {
    text-decoration: none;
    color: var(--_nav-link-color);
    transition: color 0.2s, background-color 0.2s;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: var(--_nav-link-padding);
    white-space: nowrap;
    gap: 4px;
    cursor: pointer;
}

.nav li.active > a {
    color: var(--_nav-link-active-color);
}

.nav a.active .dropdown-icon div {
    background-color: var(--nav-link-active-color);
}

.nav li.active a::after {
    content: "";
    position: absolute;
    top: calc(var(--_nav-height) - var(--_nav-link-active-underline-height));
    left: 0;
    height: var(--_nav-link-active-underline-height);
    width: 100%;
    background-color: var(--_nav-link-active-color);
    z-index: 1;
}

.nav .button-links {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--_nav-buttons-gap);
}

.nav .button-links a {
    width: auto;
}

.nav .mobile-menu-icon {
    display: none;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    position: relative;
    justify-content: center;
    height: 100%;
    z-index: 1;
}

.nav .mobile-menu-icon::before {
    content: "";
    position: absolute;
    inset: 0 -20px 0 -10px; /* -20px right is nav container padding */
    z-index: -1;
}

.nav .mobile-menu-icon:hover .bar {
    background-color: var(--_nav-mobile-menu-icon-hover-background-color);
}

.nav .mobile-menu-icon .bar {
    width: 20px;
    height: 2px;
    background-color: var(--_nav-mobile-menu-icon-background-color);
    border-radius: 10px;
    transition: all 0.2s;
}

.nav.active .mobile-menu-icon .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.nav.active .mobile-menu-icon .bar:nth-child(2) {
    opacity: 0;
}

.nav.active .mobile-menu-icon .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

/* add height 100 to actions, height auto to cta */
.nav .actions {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--_nav-buttons-gap);
    height: 100%;
}

.nav .actions a {
    background-color: unset;
    padding: 0;
}

.nav .actions .cta {
    padding: var(--_nav-button-primary-padding);
    background-color: var(--_nav-button-primary-background-color);
    color: var(--_nav-button-primary-color);
    text-decoration: none;
    border-radius: var(--_nav-button-primary-border-radius);
    transition: color 0.2s, background-color 0.2s;
    height: auto;
}

/* redefine cta & login to primary & secondary buttons and make room for links */
.nav .login {
    padding: 0;
}

.nav .login:hover {
    background-color: unset;
}

.nav .actions .cta:hover {
    background-color: var(--_nav-button-primary-hover-background-color);
    color: var(--_nav-button-primary-hover-color);
}

@media screen and (max-width: 1024px) {
    .nav .container {
        flex-wrap: wrap;
    }

    .nav .container > ul {
        flex-direction: column;
        order: 1;
        position: absolute;
        top: var(--_nav-height);
        left: 0;
        width: 100%;
        background-color: var(--_nav-background-color);
        border-radius: var(--_nav-mobile-menu-border-radius);
        height: auto;
    }

    .nav ul li {
        width: 100%;
        margin-right: 0;
        height: auto;
    }

    .nav .container > ul {
        display: grid;
        grid-template-rows: 0fr;
        list-style-type: none;
        transition: 0.2s ease-in-out;
        position: absolute;
    }

    .nav .nav-links-wrapper {
        overflow: hidden;
        display: block;
    }

    .nav.active .container > ul {
        grid-template-rows: 1fr;
    }

    .nav ul li a,
    .nav .dropdown-name-container {
        width: 100%;
        height: var(--_nav-dropdown-menu-link-height);
    }

    .nav .mobile-menu-icon {
        display: flex;
    }

    .nav .button-links {
        flex: 1;
    }

    .nav .logo {
        margin-right: 0;
    }

    .nav ul li ul {
        position: relative;
        background-color: var(--_nav-dropdown-menu-mobile-background-color);
    }

    .nav ul li ul li a {
        padding-left: 40px;
    }

    .nav ul li ul div {
        width: 100%;
    }

    .nav ul .dropdown-icon {
        justify-content: end;
        fill: #00aeff;
        width: auto;
        height: 100%;
    }

    .nav .dropdown-name {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .nav li.active a::after {
        display: none;
    }

    .nav ul li:last-child a,
    .nav ul li:last-child .dropdown-name-container {
        border-radius: var(--_nav-mobile-menu-border-radius);
    }
}
