.nav {
    position: relative;
    background-color: var(--background-color);
    height: var(--height);
    z-index: 100;
}

.nav.float {
    position: absolute;
    width: 100%;
}

.nav .container {
    display: flex;
    align-items: center;
    height: 100%;
    gap: var(--gap);
}

.nav .logo {
    height: 100%;
    width: auto;
    flex: 0 0 auto;
    padding: var(--logo-padding);
}

.nav .container > ul,
.nav .nav-links-wrapper {
    list-style-type: none;
    display: flex;
    flex: 1;
    height: 100%;
}

.nav ul li {
    position: relative;
}

.nav ul li ul {
    display: grid;
    grid-template-rows: 0fr;
    list-style-type: none;
    transition: 0.2s ease-in-out;
    position: absolute;
    width: max-content;
    min-width: 100%;
    background-color: var(--dropdown-menu-background-color);
    border-radius: var(--dropdown-menu-border-radius);
}

.nav ul li ul div {
    overflow: hidden;
    width: max-content;
    min-width: 100%;
}

.nav ul li ul li {
    height: var(--dropdown-menu-link-height);
}

.nav .dropdown {
    display: block; /* placeholder for css module. do not delete */
    color: var(--link-color);
}

.nav .dropdown.active ul {
    grid-template-rows: 1fr;
}

.nav .dropdown.active .dropdown-icon {
    transform: rotate(180deg);
}

@media (hover: hover) and (pointer: fine) and (min-width: 1025px) {
    .nav ul li:hover ul {
        grid-template-rows: 1fr;
    }

    .nav ul li:hover .dropdown-icon {
        transform: rotate(180deg);
    }
}

.nav a:hover,
.nav .dropdown-name-container:hover,
.nav .dropdown.active .dropdown-name-container {
    color: var(--link-hover-color);
    background-color: var(--link-hover-background-color);
}

.nav ul li ul li:last-child a {
    border-radius: var(--dropdown-menu-border-radius);
}

.nav .dropdown-icon {
    display: flex;
    transition: transform 0.2s;
    align-items: center;
}

.nav .dropdown-icon div {
    width: 10px;
    height: 2px;
    background-color: var(--dropdown-menu-icon-color);
}

.nav li:hover .dropdown-icon div {
    background-color: var(--dropdown-menu-icon-hover-color);
}

.nav .dropdown-icon .left {
    transform: translateX(2px) rotate(45deg);
}

.nav .dropdown-icon .right {
    transform: translateX(-2px) rotate(-45deg);
}

.nav a,
.nav .dropdown-name-container {
    text-decoration: none;
    transition: color 0.2s, background-color 0.2s;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: var(--link-padding);
    white-space: nowrap;
    gap: 4px;
    cursor: pointer;
}

.nav li.active > a {
    color: var(--link-active-color);
}

.nav a.active .dropdown-icon div {
    background-color: var(--nav-link-active-color);
}

.nav li.active a::after {
    content: "";
    position: absolute;
    top: calc(var(--height) - var(--link-active-underline-height));
    left: 0;
    height: var(--link-active-underline-height);
    width: 100%;
    background-color: var(--link-active-color);
    z-index: 1;
}

.nav .mobile-menu-icon {
    display: none;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    position: relative;
    justify-content: center;
    height: 100%;
    z-index: 1;
}

.nav .mobile-menu-icon::before {
    content: "";
    position: absolute;
    inset: 0 -20px 0 -10px; /* -20px right is nav container padding */
    z-index: -1;
}

.nav .mobile-menu-icon:hover .bar {
    background-color: var(--mobile-menu-icon-hover-background-color);
}

.nav .mobile-menu-icon .bar {
    width: 20px;
    height: 2px;
    background-color: var(--mobile-menu-icon-background-color);
    border-radius: 10px;
    transition: all 0.2s;
}

.nav.active .mobile-menu-icon .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.nav.active .mobile-menu-icon .bar:nth-child(2) {
    opacity: 0;
}

.nav.active .mobile-menu-icon .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

.nav .actions {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--actions-gap);
    height: 100%;
}

.nav .actions a {
    background-color: var(--actions-link-background-color);
    padding: var(--actions-link-padding);
    width: auto;
}

.nav .actions a:hover {
    background-color: unset;
}

.nav .actions .button {
    text-decoration: none;
    transition: color 0.2s, background-color 0.2s;
    height: auto;
}

.nav .actions .button.primary {
    padding: var(--actions-button-primary-padding);
    background-color: var(--actions-button-primary-background-color);
    color: var(--actions-button-primary-color);
    border-radius: var(--actions-button-primary-border-radius);
}

.nav .actions .button.primary:hover {
    background-color: var(--actions-button-primary-hover-background-color);
    color: var(--actions-button-primary-hover-color);
}

@media screen and (max-width: 1024px) {
    .nav.float.active {
        background-color: var(--float-mobile-menu-open-background-color);
    }

    .nav .container {
        flex-wrap: wrap;
    }

    .nav .container > ul {
        flex-direction: column;
        order: 1;
        position: absolute;
        top: var(--height);
        left: 0;
        width: 100%;
        background-color: var(--background-color);
        border-radius: var(--mobile-menu-border-radius);
        height: auto;
        display: grid;
        grid-template-rows: 0fr;
        list-style-type: none;
        transition: 0.2s ease-in-out;
    }

    .nav.float .container > ul {
        background-color: var(--float-mobile-menu-open-background-color);
        top: 0;
        z-index: -1;
    }

    .nav.float.active .container > ul {
        padding-top: var(--height);
    }

    .nav ul li {
        width: 100%;
        margin-right: 0;
        height: auto;
    }

    .nav .nav-links-wrapper {
        overflow: hidden;
        display: block;
    }

    .nav.active .container > ul {
        grid-template-rows: 1fr;
    }

    .nav ul li a,
    .nav .dropdown-name-container {
        width: 100%;
        height: var(--dropdown-menu-link-height);
    }

    .nav .mobile-menu-icon {
        display: flex;
    }

    .nav .actions {
        flex: 1;
    }

    .nav .logo {
        margin-right: 0;
    }

    .nav ul li ul {
        position: relative;
        background-color: var(--dropdown-menu-mobile-background-color);
    }

    .nav ul li ul li a {
        padding-left: 40px;
    }

    .nav ul li ul div {
        width: 100%;
    }

    .nav ul .dropdown-icon {
        justify-content: end;
        fill: #00aeff;
        width: auto;
        height: 100%;
    }

    .nav .dropdown-name {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .nav li.active a::after {
        display: none;
    }

    .nav ul li:last-child a,
    .nav ul li:last-child .dropdown-name-container {
        border-radius: var(--mobile-menu-border-radius);
    }
}
