.nav {
    position: relative;
    z-index: 10;
    background-color: black;
}

.nav .container {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav .logo {
    max-height: 50px;
    width: auto;
    margin-right: 25px;
    flex: 0 0 auto;
}

.nav ul {
    list-style-type: none;
    display: flex;
    flex: 1;
}

.nav ul li {
    margin-right: 25px;
}

.nav a {
    text-decoration: none;
    color: #d7d7d7;
    transition: color 0.2s;
}

.nav a:hover {
    color: #ffffff;
}

.nav .button-links {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.nav .cta {
    padding: 10px 20px;
    background-color: #008ecc;
    color: white;
    text-decoration: none;
    border-radius: 100px;
    transition: background-color 0.2s;
}

.nav .cta:hover {
    background-color: #00aeff;
}

.nav .mobile-menu-icon {
    display: none;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}

.nav .mobile-menu-icon:hover .bar {
    background-color: #ffffff;
}

.nav .mobile-menu-icon .bar {
    width: 20px;
    height: 2px;
    background-color: #d7d7d7;
    border-radius: 10px;
    transition: all 0.2s;
}

.nav.active .mobile-menu-icon .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.nav.active .mobile-menu-icon .bar:nth-child(2) {
    opacity: 0;
}

.nav.active .mobile-menu-icon .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

@media screen and (max-width: 1024px) {
    .nav {
        height: 100%;
    }

    .nav .container {
        flex-wrap: wrap;
    }

    .nav ul {
        flex-direction: column;
        order: 1;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        transition: transform 0.2s;
        transform: scaleY(0);
        transform-origin: top;
        background-color: black;
        border-radius: 0 0 20px 20px;
    }

    .nav ul li {
        width: 100%;
        margin-right: 0;
        height: 50px;
        /* border-top: 1px solid #888888;
        border-width: 50%; */
    }

    .nav ul li:not(:first-child)::before {
        content: "";
        display: block;
        height: 1px;
        width: max(300px, 30%);
        background-color: #484848;
        margin: 0 auto;
        border-radius: 5px;
    }

    .nav ul li a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav .mobile-menu-icon {
        display: flex;
    }

    .nav .button-links {
        flex: 1;
    }

    .nav .logo {
        margin-right: 0;
    }

    .nav.active ul {
        transform: scaleY(1);
    }
}
