.nav {
    position: relative;
    z-index: 10;
    background-color: black;
    height: var(--nav-height);
}

.nav .container {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav .logo {
    max-height: var(--nav-height);
    width: auto;
    margin-right: 25px;
    flex: 0 0 auto;
}

.nav .container > ul,
.nav .nav-links-wrapper {
    list-style-type: none;
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
}

.nav ul li {
    position: relative;
    height: 100%;
}

.nav ul li ul {
    display: grid;
    grid-template-rows: 0fr;
    list-style-type: none;
    transition: 0.2s ease-in-out;
    position: absolute;
}

.nav ul li ul div {
    overflow: hidden;
    width: max-content;
}

.nav ul li ul li {
    height: 50px;
}

.nav .show-dropdown {
    grid-template-rows: 1fr;
}

.nav .rotate {
    transform: rotate(180deg);
}

@media screen and (min-width: 1025px) {
    .nav ul li:hover ul {
        grid-template-rows: 1fr;
    }

    .nav ul li:hover .dropdown-icon {
        transform: rotate(180deg);
    }
}

.nav ul li ul li a {
    padding: 10px 20px;
}

.nav ul li ul li:last-child a {
    border-radius: 0 0 10px 10px;
}

.nav .dropdown-icon {
    display: flex;
    transition: transform 0.2s;
}

.nav .dropdown-icon div {
    width: 8px;
    height: 1px;
    background-color: #d7d7d7;
}

.nav a:hover .dropdown-icon div {
    background-color: #ffffff;
}

.nav .dropdown-icon .left {
    transform: translateX(1px) rotate(45deg);
}

.nav .dropdown-icon .right {
    transform: translateX(-1px) rotate(-45deg);
}

.nav a {
    text-decoration: none;
    color: #d7d7d7;
    background-color: black;
    transition: color 0.2s, background-color 0.2s;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    white-space: nowrap;
    gap: 4px;
}

.nav a:hover {
    color: #ffffff;
    background-color: #353535;
}

.nav a.active {
    color: #00aeff;
}

.nav a.active .dropdown-icon div {
    background-color: #00aeff;
}

.nav a.active::after {
    content: "";
    position: absolute;
    top: calc(var(--nav-height) - 3px); /* nav height - height of underline */
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #00aeff;
    z-index: 1;
}

.nav .button-links {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.nav .button-links a {
    width: auto;
}

.nav .cta {
    padding: 10px 20px;
    background-color: #008ecc;
    color: white;
    text-decoration: none;
    border-radius: 100px;
    transition: background-color 0.2s;
}

.nav .login {
    padding: 0;
}

.nav .login:hover {
    background-color: unset;
}

.nav .cta:hover {
    background-color: #00aeff;
}

.nav .mobile-menu-icon {
    display: none;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}

.nav .mobile-menu-icon:hover .bar {
    background-color: #ffffff;
}

.nav .mobile-menu-icon .bar {
    width: 20px;
    height: 2px;
    background-color: #d7d7d7;
    border-radius: 10px;
    transition: all 0.2s;
}

.nav.active .mobile-menu-icon .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.nav.active .mobile-menu-icon .bar:nth-child(2) {
    opacity: 0;
}

.nav.active .mobile-menu-icon .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

@media screen and (max-width: 1024px) {
    .nav {
        height: 100%;
    }

    .nav .container {
        flex-wrap: wrap;
    }

    .nav .container > ul {
        flex-direction: column;
        order: 1;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: black;
        border-radius: 0 0 20px 20px;
        height: auto;
    }

    .nav ul li {
        width: 100%;
        margin-right: 0;
        height: auto;
    }

    .nav .container > ul {
        display: grid;
        grid-template-rows: 0fr;
        list-style-type: none;
        transition: 0.2s ease-in-out;
        position: absolute;
    }

    .nav .nav-links-wrapper {
        overflow: hidden;
        display: block;
    }

    .nav.active .container > ul {
        grid-template-rows: 1fr;
    }

    .nav ul li a {
        width: 100%;
        height: var(--nav-height);
    }

    .nav .mobile-menu-icon {
        display: flex;
    }

    .nav .button-links {
        flex: 1;
    }

    .nav .logo {
        margin-right: 0;
    }

    .nav ul li ul {
        position: relative;
    }

    .nav ul li ul li a {
        padding-left: 40px;
    }

    .nav ul li ul div {
        width: 100%;
    }

    .nav ul .dropdown-icon {
        justify-content: end;
        fill: #00aeff;
        width: auto;
        height: 100%;
        position: relative;
        left: 10px;
    }

    .nav .link-name {
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .nav a.active::after {
        display: none;
    }
}
