.carousel {
    padding: 20px 0;
}

.carousel .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
}

.carousel .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .text {
    width: 40%;
}

.carousel p {
    max-width: 800px;
    font-size: 1.25em;
    margin-bottom: 10px;
}

.hero {
    width: 60%;
    height: auto;
}

.carousel .button {
    margin-right: 10px;
}

.carousel .dots {
    display: flex;
    gap: 3px;
}

.carousel .dot {
    width: 10px;
    height: 10px;
    border: 1px solid gray;
    border-radius: 100%;
    cursor: pointer;
}

.carousel .dot.active {
    background-color: gray;
}
