.nav {
    border: 1px dashed black;
}

.nav .container {
    display: flex;
    align-items: center;
}

.nav .logo {
    max-height: 40px;
    width: auto;
    margin-right: 25px;
}

.nav ul {
    list-style-type: none;
    display: flex;
}

.nav ul li {
    margin-right: 25px;
}

.nav ul li a {
    text-decoration: none;
    color: #2b2b2b;
    transition: color 0.2s;
}

.nav ul li a:hover {
    color: #14c8ff;
}
