.nav {
    overflow: hidden;
    background-color: black;
}

.nav .container {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav .logo {
    max-height: 50px;
    width: auto;
    margin-right: 25px;
}

.nav ul {
    list-style-type: none;
    display: flex;
    width: 100%;
}

.nav ul li {
    margin-right: 25px;
}

.nav a {
    text-decoration: none;
    color: #d7d7d7;
    transition: color 0.2s;
}

.nav a:hover {
    color: #ffffff;
}

.nav .cta {
    padding: 10px 20px;
    background-color: #008ecc;
    color: white;
    text-decoration: none;
    border-radius: 100px;
    transition: background-color 0.2s;
}

.nav .cta:hover {
    background-color: #00aeff;
}

.nav .login {
    margin-left: 25px;
}

.nav .mobile-menu-icon {
    display: none;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}

.nav .mobile-menu-icon:hover .bar {
    background-color: #ffffff;
}

.nav .mobile-menu-icon .bar {
    width: 20px;
    height: 2px;
    background-color: #d7d7d7;
    border-radius: 10px;
    transition: background-color 0.2s;
}

@media screen and (max-width: 1024px) {
    .nav {
        height: 100%;
    }

    .nav .container {
        flex-wrap: wrap;
    }

    .nav ul {
        flex-direction: column;
        order: 1;
    }

    .nav ul li {
        width: 100%;
        margin-right: 0;
        height: 50px;
    }

    .nav ul li a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav .mobile-menu-icon {
        display: flex;
    }

    .nav .button-links {
        margin: 0 auto;
    }

    .nav .logo {
        margin-right: 0;
    }
}
